<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mybatis.study.dao.UserDao">
 	<resultMap type="com.mybatis.study.entity.UserEntity" id="userEntity">
 		<result property="id" column="id"/>
 		<result property="username" column="username"/>
 		<result property="password" column="password"/>
 		<result property="age" column="age"/>
 		<result property="valid" column="valid"/>
 		<result property="sex" column="sex" javaType="com.mybatis.study.constant.Sex" jdbcType="INTEGER" typeHandler="com.mybatis.study.SexHandleType"/>
 		<!-- Mybatis一对多关联映射 -->
 		 <collection property="listRole" ofType="com.mybatis.study.entity.RoleEntity">
 			<result property="id" column="id"/>
 			<result property="roleName" column="rolename"/>
 			<result property="insertTime" column="inserttime"/>
 			<result property="vaild" column="valid"/>
 		</collection>
 		<!-- Mybatis一对一关联映射 -->
 	</resultMap>
	<select id="findUserById" resultMap="userEntity">
		select * from user u,role r,user_role ur where u.id=ur.user_id and r.id = ur.role_id and u.id = #{id}
	</select>
 	<insert id="addUser" parameterType="com.mybatis.study.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
 		insert into user(username,password,age) values(#{username},#{password},#{age})
 	</insert>
 	<update id="updateUser" parameterType="com.mybatis.study.entity.UserEntity">
 		update user set username=#{username},password=#{password},age=#{age} where id=#{id}
 	</update>
 	<delete id="deleteUser" parameterType="int">
 		delete from user where id = #{id}
 	</delete>
</mapper>

