/.settings
/*.project
/base-common/*.classpath
/base-common/*.project
/base-common/.settings
/base-common/target
/base-database/target
/base-redis/.settings
/base-redis/target
/base-redis/.classpath
/base-redis/.project
/base-database/.settings
/base-database/.classpath
/base-database/.project
/base-service/.classpath
/base-service/.project
/base-service/.settings/org.eclipse.core.resources.prefs
/base-service/.settings/org.eclipse.jdt.core.prefs
/base-service/.settings/org.eclipse.m2e.core.prefs
/base-service/.settings
/base-service/.settings/*.prefs
