/.settings
/*.project
/base-common/*.classpath
/base-common/*.project
/base-common/.settings
/base-common/target
/base-database/target
/base-redis/.settings
/base-redis/target
/base-redis/.classpath
/base-redis/.project
/base-database/.settings
/base-database/.classpath
/base-database/.project
