<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"  
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.database.mybatis.pojo.UserDao">
 
	<select id="findUserById" resultType="com.database.mybatis.pojo.UserPojo">
		select * from user where id = #{id}
	</select>
 	<insert id="addUser" parameterType="com.database.mybatis.pojo.UserPojo" useGeneratedKeys="true" keyProperty="id">
 		insert into user(username,password,age) values(#{username},#{password},#{age})
 	</insert>
 	<update id="updateUser" parameterType="com.database.mybatis.pojo.UserPojo">
 		update user set username=#{username},password=#{password},age=#{age} where id=#{id}
 	</update>
 	<delete id="deleteUser" parameterType="int">
 		delete from user where id = #{id}
 	</delete>
</mapper>

