<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.base.entity.UserRole">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="valid" jdbcType="SMALLINT" property="valid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, role_id, valid, update_time, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.base.entity.UserRoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_role
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.base.entity.UserRoleKey">
    delete from user_role
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.base.entity.UserRole">
    insert into user_role (user_id, role_id, valid, 
      update_time, insert_time)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER}, #{valid,jdbcType=SMALLINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.base.entity.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=SMALLINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.entity.UserRole">
    update user_role
    <set>
      <if test="valid != null">
        valid = #{valid,jdbcType=SMALLINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.entity.UserRole">
    update user_role
    set valid = #{valid,jdbcType=SMALLINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>